html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background-color: #F8F9FA;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.banner {
  background-color: #00A5E5; 
  height: 3vh;
  width: 100%;
}
h1 {
  font-size: 23pt;
  color: #262626;
  background-color: #FFFFFF;
  text-align: center;
  text-shadow: 2px 1px 2px #70757A;
  padding-bottom: 3%;
  border-bottom: 2px solid #E6E6E6;
}

main {
  width: 100%;
  height: 100%;
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15% 0 15%;
  box-sizing: border-box;
}
.city-picker {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}
#dropdown {
  width: 100%;
  padding: 1vh 3%;
  border: 2px solid #E6E6E6;
  border-radius: 3px;
  font-family: Arial;
}

.cities-shown {
  width: 100%;
}
.all-cities {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.individual-city {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.current-weather {
  width: 100%;
}
.current-weather-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3%;
  font-family: Arial;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 6px;
  box-sizing: border-box;
}
#current.tophalf, #current.bothalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#current.bothalf {
  padding-bottom: 2%;
}
.topleft, .botleft {
  text-align: left;
  padding: 0 0 0 7%;
}
.botright {
  text-align: right;
  padding-right: 7%;
}
.current-weather-item.topright {
  display: flex;
  flex-direction: row;
  font-size: 26pt;
  color: #262626;
  align-items: center;
  text-align: right;
  padding-right: 10%;
}

.city {
  font-size: 19pt;
  color: #262626;
}
.date {
  font-size: 15pt;
  color: #262626;
}
.sky, .time, .botright{
  font-size: 13pt;
  color: #70757A;
}


.forecast {
  width: 100%;
}
.forecast-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 3%;
  box-sizing: border-box;
}
.plus {
  border: 2px solid #E6E6E6;
  border-radius: 6px;
  width: 19%;
  margin-bottom: 15%;
}
#future.tophalf {
  text-align: center;
  padding: 5% 0 6% 0;
  background-color: #FFFFFF;
  position: relative;
}
.tophalf > .temperature{
  font-size: 15pt;
  height: 100%;
}
.temperature::after{
  content: "°C";
  position: absolute;
  font-size: 0.5em;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#future.bothalf {
  text-align: center;
  background-color: #E5F6FD;
  font-size: 10pt;
  color: #70757A;
  padding: 4%;
}
.wind, .humidity, .precipitation {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}






@media (max-width: 260px) {
  .flex-container {
    padding: 0 5% 0 5%;
  }
  #current.tophalf, #current.bothalf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .current-weather-item {
    padding: 3% 0 0 0;
    text-align: center;
  }
  .current-weather {
    padding: 1%;
  }
  .forecast-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-top: 3%;
    box-sizing: border-box;
  }
  .plus {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1%;
  }
  #future.tophalf {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E6E6E6;
    flex-basis: 60%;
  }
  #future.bothalf{
    border-left:  1px solid #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 40%;
  }
.current-weather-item.topright > .icon {
  max-width: 50%;
  text-align: center;
  }
  img {
    max-width: 60%;
  }
}